#shell {
  padding-top: 100px;
}

.proInfo {
  position: relative;
}

.proInfo h1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}

.state {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}

.state:hover {
  fill-opacity: 0.5;
}

/* vis_2 css */

#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
}

#tooltip h4 {
  margin: 0;
  font-size: 14px;
}

#tooltip {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 12px;
  width: auto;
  padding: 4px;
  color: white;
  opacity: 0;
}

#tooltip table {
  table-layout: fixed;
}

#tooltip tr td {
  padding: 0;
  margin: 0;
}

#tooltip tr td:nth-child(1) {
  width: 50px;
}

#tooltip tr td:nth-child(2) {
  text-align: center;
}

/* vis_1 css */
svg {
  width: 100%;
  height: 100%;
  position: center;
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

text {
  font: 15px sans-serif;
  color: white;
}

text.value {
  font-size: 70%;
  fill: white;
}

.axisHorizontal path {
  fill: none;
}

.axisHorizontal .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

.bar {
  fill: #5ab4ac;
  fill-opacity: .9;
}

/* vis_4 css */

.link {
  stroke: #d32323;
  stroke-opacity: .6;
}

.node {
  stroke: #fff;
  stroke-width: .5px;
}

#vis4_tip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: none repeat scroll 0 0 white;
  box-shadow: -3px 3px 15px #888888;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
